
body {
    flex-wrap:wrap;
    margin:0;
}
ul {
    list-style:none;
    gap:16px;
    
    align-items:center;
}
ul, .container-1 {
    display:flex;
    color:white;
    
}

.container-1 {
    display:flex;
    justify-content:space-around;
}

.background-box1 {
    background-color: #1F2937;
    height:500px;
}
.container-2 {
    display:block;
    width: 400px;
    height: 200px;
    
}
.main-text {
    color:#F9FAF8;
    font-size:48px;
    font-weight:bold;
}

.header-logo {
    font-weight:lighter;
    font-size:24px;
}
.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    filter:contrast(60%);
    

}
button {
    background-color: #3882F6;
    border-color:#3882F6;
    color:#F9FAF8;
    border-radius:10px;
    padding:0px;
    width: 120px;
    height: 3em;
    font-weight:bold;
    margin-top:2%;
}
#placeholder {
    display:flex;
    color:#F9FAF8;
    border-radius:10px;
    width:500px;
    height:200px;
    background-color:gray;
    justify-content:center;
    align-items:center;
    
}
.container-3 {
    display:flex;
    justify-content:center;
    gap: 5em;
    margin-top:6em;
}
.background-box2 {
    display:flex;
    flex-direction:column;
    height: 420px;
}
.info-header {
    font-size:36px;
    font-weight:bold;
    text-align:center;
    margin-top:1em;
    margin-bottom:1em;
    color:#1F2937;
}
.img-box {
    display:flex;
    gap: 4em;
    justify-content:center;
    flex-wrap:wrap;
    
}
.img-1, .img-2, .img-3 , .img-4 {
    display:flex;
    height:10em;
    width:10em;
    border: 3px solid #3882F6;
    border-radius:16px;
    display:flex;
    flex-direction:column;
    flex:1;
    
}

.info {
    display:block; /* Delete this line if anything go wrong */
    max-width:10em;
    text-align:center;
}

.background-box3 {
    display:flex;
    flex-direction: column;
    height:375px;
    background-color:#e5e7eb;
    justify-content:center;
    align-items:center;
}
#quote {
    font-size:36px;
    font-style:italic;
    max-width:750px;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#credits {
    font-size: 25px;
    margin-left:500px;
    color:#1F2937;
    font-weight:bold;
    
}
.background-box4 {
    display:flex;
    height:300px;
    justify-content:center;
    align-items:center;
}

.container-4 {
    display:flex;
    width:1000px;
    height:125px;
    background-color:#3882F6;
    border-radius:10px;
    justify-content:space-around;
    align-items:center;
    
}
.call {
    display:block;
    color:white;
    align-items:center;
}
.call-under {
    filter:contrast(65%);
}
.last-button {
    border: 2px solid white;
    margin-top:0;
}
.call-main {
    font-size: 1.5em;
}
.footer {
    display:flex;
    height:100px;
    background-color:#1F2937;
    justify-content:center;
    align-items:center;
}
.copyright {
    color:white;
    filter:contrast(60%)
}